<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" href="./img/logo-blue.ico" type="image/icon" />
    <title>Profile</title>
  </head>
  <body>
    <%= _.template(require('./../includes/svg-sprite.html'))() %>

    <main>
      <%= _.template(require('./../includes/full-screen.html'))() %> <%=
      _.template(require('./../includes/we-are.html'))() %> <%=
      _.template(require('./../includes/services.html'))() %> <%=
      _.template(require('./../includes/works.html'))() %>
    </main>
  </body>
</html>
